<h1>hello world!</h1>
<%= form_tag do %>
    <textarea id="message" name="message" cols="24" rows="6"></textarea>
    <input type= "submit">
<% end %>

<% for item in @list %>
    <% for str in item[:value].split %>
        <% if str =~ /#\w+/ %>
            <span class='hash_link'><%=str%></span>
        <% else %>
            <%=str%>
        <% end %>
    <% end %>
    <br>
<% end %>

<%= form_tag("index", method: "get", id: 'search_form') do %>
    <%= label_tag(:q, "Add to search list:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
<% end %>

<div id='staging_area'>
  <h1>Search List</h1>
</div>