<div id="main">
  <div id="input_area">
    <table id="input_table">
      <tr>
        <td>
          <%= form_tag do %>
              <textarea id="message" name="message" cols="50" rows="6"></textarea>
        </td>
              </tr>
              <tr>
                <td class="align_right">
                  <input type= "submit" value="Post" class="btn btn-default">
                </td>
              </tr>
          <% end %>
    </table>
  </div>
  <div id="display_area">
    <div id="search_results">
        <%= render 'tiks/tiks', :tiks => @tiks %>
    </div>
  </div>


<%= form_tag("index", method: "get", id: 'add_form') do %>
    <%= label_tag(:q, "Add to search list:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
<% end %>

<h1>Search List</h1>
<div id='staging_area'>
</div>

<%= form_tag('/search', method: "post", id: 'search_form', format: :json, remote: true) do %>
    <%= submit_tag("Search") %>
<% end %>

<br>

<%= form_tag('/search', method: "delete", id: 'delete_form') do %>
    <%= submit_tag("Delete") %>
<% end %>
</div>