<h1>hello world!</h1>
<%= form_tag do %>
    <textarea id="message" name="message" cols="24" rows="6"></textarea>
    <input type= "submit">
<% end %>

<div id="search_results">
    <%= render 'tiks/tiks', :tiks => @tiks %>
</div>

<%= form_tag("index", method: "get", id: 'add_form') do %>
    <%= label_tag(:q, "Add to search list:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
<% end %>

<div id='staging_area'>
  <h1>Search List</h1>
</div>

<%= form_tag('/search', method: "post", id: 'search_form', format: :json, remote: true) do %>
    <%= submit_tag("Search") %>
<% end %>

