<div class="container"><div class="row"><div class="col-md-6">
<div id="input_area">
    <table id="input_table">
      <tr>
        <td colspan="2">
          <%= form_tag do %>
              <textarea class="form-control" id="message" name="message" cols="50" rows="5"></textarea>
        </td>
              </tr>
              <tr>
                <td id="character_counter"></td>
                <td class="align_right"><button type= "submit" class="btn btn-default">Post</button></td>
              </tr>
          <% end %>
    </table>
  </div>
  <div id="display_area">
    <div id="search_results">
        <%= render 'tiks/tiks', :tiks => @tiks %>
    </div>
  </div>
</div>

  <div class="col-md-4">
<div id="search_area">
<%= form_tag("index", method: "get", id: 'add_form', class: "form-inline", role: "form") do %>
  <div class="form-group"><input type="text" class="form-control" id="search_query" placeholder="Enter a hashtag"></div>
  <button type="submit" class="btn btn-default">Search</button>
<% end %>
</div>

<p id="search_title">#Search #List<p>
<div id='staging_area'>
</div>

    <table id="search_area_button">
      <tr>
        <td>
            <%= form_tag('/search', method: "post", id: 'search_form', format: :json, remote: true) do %>
                <%= submit_tag("Search", class: "btn btn-default") %>
            <% end %>
        </td>
        <td>
            <%= form_tag('/search', method: "delete", id: 'delete_form') do %>
                <%= submit_tag("Reset List", class: "btn btn-default") %>
            <% end %>
        </td>
      </tr>
    </table>

  </div>
    </div>
</div>